<!-- <div class="btn-group" role="group">
    <button (click)="select_main(src)" type="button" class="btn btn-secondary">
        <img src="assets/pierre_base.png" />
    </button>

    <button (click)="select_main(src)" type="button" class="btn btn-secondary">
        <img src='assets/papier_base.png' />
    </button>

    <button (click)="select_main(src)" type="button" class="btn btn-secondary">
        <img src='assets/ciseau_base.png' />
    </button>
</div>
-->
<div>
    <button (click)="select_main(nom)" type="button" class="btn btn-light">
        <img src="{{ nom }}" />
    </button>
</div>
