<!--
<div [hidden]="show">
    <button (clic)="select_main(name)" name="pi"><img src="assets/pierre_base.png" /></button>
    <button (clic)="select_main(name)" name="pa"><img src="assets/papier_base.png" /></button>
    <button (clic)="select_main(name)" name="ci"><img src="assets/ciseau_base.png" /></button>
</div>
-->
<div>
    <button><img src="assets/pierre_base.png" /></button>
    <button><img src="assets/papier_base.png" /></button>
    <button><img src="assets/ciseau_base.png" /></button>
</div>