<head>
  <title>Shifumi</title>>
</head>
<body>
  <div [align]="alignement"><h1>Shifumi</h1></div>

  <div [align]="alignement" *ngIf="restart"><!-- when bouton start is clic, restart = false -->
    <table>
      <tr>
        <th>Règles du jeu</th>
        <th>Score</th>
      </tr>
      <tr>
        <td><app-regles></app-regles></td>
        <td><app-score></app-score></td>
      </tr>
    </table>
    
    <br><button (click)="start_game()">Start</button><br>
  </div>    

  <div *ngIf="start"> <!-- if bouton start is clic -->
    <table>
      <tr>
        <th>mains joueur</th>
        <th>mains ordi</th>
      </tr>
      <tr>
        <td><app-game></app-game></td>
        <td><app-game *ngIf="main_ordi"></app-game></td>
      </tr>
    </table>
  </div>

</body>